<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>  
    <h2>Skills</h2>
    <div ng-hide="isEdit">
        <span ng-repeat="skill in employeeSkills" >{{skill}}<span ng-if="!$last">,</span></span>
        <a href="" ng-click="editProfile()" style="float:right">Edit</a>
    </div>
    <div ng-show="isEdit">
        <ul class="skill-list" id="NavItem">
            <li ng-repeat="skill in skillSet" ng-click="setValue(skill)"><p>{{skill.name}}</p></li>
        </ul>
        <ul class="addskill-list"> <!--"skill in employeeSkills track by $index"-->
            <li ng-repeat="skill in employeeSkills"><p>{{skill}}</p></li>
        </ul>
        <button ng-click="SaveSkills()">Save</button>
    </div>
</body>
</html>
