<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>
    <h1>Employee List</h1>
    <table ng-table="employeeParams" class="table table-emp" >
        <tr ng-repeat="employee in data">
            <td title="'#'">{{ $index + 1 + previousTotal }}</td>
            <td title="'Name'" filter="{ FullName: 'text'}" sortable="'FullName'">{{ employee.FullName }}
            </td>
            <td title="'EmployeeId'" filter="{ EmployeeId: 'number'}" sortable="'EmployeeId'">{{ employee.EmployeeId }}
            </td>
            <td title="'Email'" filter="{ Email: 'text'}" sortable="'Email'">{{ employee.Email }}
            </td>
            <td title="'Skills'" filter="{ Skills: 'text'}" sortable="'Skills'">
                <span ng-repeat="s in employee.Skills track by $index">{{s}}, </span>
            </td>
            <td title="'Designation'" filter="{ Designation: 'text'}" sortable="'Designation'">{{ employee.Designation }}
            </td>
            <td>
                <!-- <a ui-sref="Admin.EmployeeDetails({ id: employee.EmployeeId })">View</a>-->
                <a ng-click="ViewProfile(employee.EmployeeId)" href="">View</a>
            </td>
            <td>
                <a href="" ng-click="delete(lst.eventid)">Delete</a>
            </td>
        </tr>
    </table>
</body>
</html>
