<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>
    <div class="section-main">
        <div class="login">
            <h1>Login</h1>
            <div class="login-control">
                <form name="loginForm" ng-submit="login()" novalidate>
                    <div class="control-group">
                        <div class="message">{{ message}}</div>
                    </div>
                    <div class="control-group">
                        <label for="username">Username</label>
                        <input type="email" name="username" id="username" class="form-control" ng-model="username" required />
                    </div>
                    <div class="control-group">
                        <label for="password">Password</label>
                        <input type="password" name="password" id="password" class="form-control" ng-model="password" required />
                    </div>
                    <div class="control-group">
                        <button type="submit" data-ng-click="Login()">Login</button>
                    </div>
                    <div class="clear"></div>

                </form>
            </div>
        </div>
    </div>
</body>
</html>
