body{
	font: 16px "Times New Roman", Times, serif;
	background-color: #F4F1EA;}

.page{
	width:1200px;
	margin: 0 auto;
	margin-top: 30px;
	background-color: #FFF; 
	moz-box-shadow: 0 0 13px rgba(0, 0, 0, 0.17);
    -webkit-box-shadow: 0 0 13px rgba(0, 0, 0, 0.17);
    box-shadow: 0 0 13px rgba(0, 0, 0, 0.17);}

/* Header */
.section-header{
	height: 140px;
	position: relative;
    text-align: center;
    font-weight: bold;
    font-size: xx-large;
    background-color: #A0A7AD;
}

.section-header .top-nav{
	background: #F4F4F4;
	height: 38px;
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	border-top: 1px solid #EAE8E8;
	border-bottom: 1px solid #C3BFBF;
	}

/* Main */
.section-main{
	min-height: 400px;}

.section-main .menu-bar{
	width: 220px; 
	background-color: #F3F3F3; 
	float: left}

.section-main .menu-bar ul{
	list-style: none;
	padding: 0;
	margin: 0;}	

.section-main .menu-bar ul li{
	padding: 3px 0 3px 10px;
	border-bottom: 1px solid #C3BFBF;}	

.section-main .menu-bar a{
	text-decoration: none;}	

.section-main .content {
	width: 940px; 
	padding: 10px 20px 30px 20px;
	float: left;}

.login-control {
    width:270px;
    padding:20px 40px;
    background : #F4F4F4;
    margin: 0 auto;}
.login-control .control-group {
    margin:6px 0;}
.login-control .control-group label {
    width:70px;
    display: inline-block;
    }
.login-control .control-group input {
    width: 192px;
    }
.login-control .control-group button {
    float: right;
    }
.login-control .control-group .message {
    text-align: center;
    color: red;
    }
    .ng-submitted .ng-invalid {
    border: 1px solid red;
    }

.table-employee {
    border-collapse: collapse;
    width:100%;
}
.table-employee td{
    margin:0;
    padding:0;
    border: 0;
    border:1px solid #C3BFBF;}


/* Footer */
.section-footer{
	padding: 10px 20px;
	background-color: #4C565D;}

.section-footer .copy{
	padding: 5px 0;
	color: #fff;}

.clear {
clear: both;
}

.col-6 {
width:50%;
float: left;
}

/* EmployeeDetails.html */
.emp-details ul.tabs {
    list-style: none;
    padding: 0;
    margin: 0;
}
.emp-details ul.tabs li {
    float: left;
    border: 1px solid #C3BEBE;
    border-bottom-width: 0;
    margin: 3px 3px 0px 3px;
    padding: 5px 5px 0px 5px;
    background-color: #CCC;
    color: #696969;
    cursor: pointer;
}
.emp-details ul.tabs li.active {
    background-color: #FFF;
    color: #000;
}
.emp-details .tab-content {
    border: 1px solid #C3BEBE;
	clear: both;
	padding: 20px;
    display: block;
}


/* EmployeeProfile.html */
.emp-profile .info {
    border: 1px solid #C3BFBF;
    padding:30px;
}
.emp-profile .control-group {
    padding: 5px 0;
}
.emp-profile .control-group label {
    width: 40%;
    display: inline-block;
    vertical-align: top;
}
.skill-list {
    border: 1px solid #000;
       list-style-type: none;
       overflow:hidden; 
       overflow-y:scroll;
       width:175px;
       height:200px;
       float:left;
       margin-right:80px;
       
}
.addskill-list {
    border: 1px solid #000;
       list-style-type: none;
       overflow:hidden; 
       overflow-y:scroll;
       width:175px;
       height:200px;
       display: inline-block;
       
}
.skill-listItem {
    border-bottom: 1px dotted grey;
}
#NavItem li:hover {background-color: #969CA9; cursor:pointer;}
.button-add {
    /*background-image: url('/images/Addbutton.png');*/
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: 0px 0px;
    border: none;
    cursor: pointer;
    /*height: 16px;
    padding-left: 16px;*/
    vertical-align: middle;
    /*margin-bottom:250px;*/
    
}