body{
	font: 16px "Times New Roman", Times, serif;
	background-color: #F4F1EA;}

.page{
	width:1200px;
	margin: 0 auto;
	margin-top: 30px;
	background-color: #FFF; 
	moz-box-shadow: 0 0 13px rgba(0, 0, 0, 0.17);
    -webkit-box-shadow: 0 0 13px rgba(0, 0, 0, 0.17);
    box-shadow: 0 0 13px rgba(0, 0, 0, 0.17);}

.section-header{
	height: 140px;
	position: relative;}

.section-header .top-nav{
	background: #F4F4F4;
	height: 38px;
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	border-top: 1px solid #EAE8E8;
	border-bottom: 1px solid #C3BFBF;
	}

.section-main{
	min-height: 400px;}

.section-main .menu-bar{
	width: 220px; 
	background-color: #F3F3F3; 
	float: left}

.section-main .menu-bar ul{
	list-style: none;
	padding: 0;
	margin: 0;}	

.section-main .menu-bar ul li{
	padding: 3px 0 3px 10px;
	border-bottom: 1px solid #C3BFBF;}	

.section-main .menu-bar a{
	text-decoration: none;}	

.section-main .content {
	width: 940px; 
	padding: 10px 20px;
	float: left;}

.section-footer{
	padding: 10px 20px;
	background-color: #4C565D;}


.section-footer .copy{
	padding: 5px 0;
	color: #fff;}

.select-section{
    margin:0px 50px auto 10px;
}




